{% extends "base.html" %}

{% block title %}Categories - {{ SITENAME }}{% endblock %}

{% block slogan %}
    <h2 class="title">
        Categories
    </h2>
{% endblock %}

{% block content %}
    {% if categories %}
    <div class="archives">
        <ul id="fold">
            {% for cat, articles in categories|sort %}
            <li>
                <strong>{{ cat }} - {{ articles|count }} posts</strong>
                <ul>
                {% for article in articles %}
                    <li>
                        <span>
                            <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
                        </span>
                        <span class="u-pull-right">
                            {{ article.date.strftime('%d/%m/%Y') }}
                        </span>
                    </li>
                {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
{% endblock %}